.modal-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.modal-context{
  color: #E30B0B;
}

.modalUserBackground{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
}

.modalContainer{
  height: 50vh;
  width: 50vw;
  background-image: linear-gradient(
    #535d70,
    #6a768d
  );
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ModalTitle{
  font-size: 3vh;
}

.textContainer{
  display: flex;
  flex-direction: column;
  gap: 1.3vh;
  height: 5vh;
}

.p1{
  color:#060912;
  font-size: 1.5vh;
}

.p2{
  color:#060912;
  font-size: 1.2vh;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  gap: 3vw;
  width: 100%;
}

.btn {
  height: 4.5vh;
  width: 7vw;
  border: 0;
  border-radius: 0.5vh;
  color: #060912;
  font-size: 1.3vh;
  font-weight: 500;
  cursor: pointer;
}

.buttonCancel{
  background-color: #DCE8E7;
}.buttonCancel:hover{
  transform: scale(1.1);
  font-size: 1.5vh;
  -webkit-box-shadow: 0px 0px 1vh 0.1vh #DCE8E7;
  -moz-box-shadow: 0px 0px 1vh 0.1vh #DCE8E7;
  box-shadow: 0px 0px 1vh 0.1vh #DCE8E7;
}

.buttonDelete{
  background-color: #E30B0B;
}.buttonDelete:hover{
  transform: scale(1.1);
  font-size: 1.5vh;
  -webkit-box-shadow: 0px 0px 1vh 0.1vh #E30B0B;
  -moz-box-shadow: 0px 0px 1vh 0.1vh #E30B0B;
  box-shadow: 0px 0px 1vh 0.1vh #E30B0B;
}
